body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE3E3;
    font-family: Arial, sans-serif;
  }
  
  .button-container {
    display: flex;
    max-height: 80vh;  /* Se limita la altura del contenedor */
    overflow-y: hidden;
    flex-direction: column;
    gap: 20px;
  }
  
  .icon {
    max-width: 190px;
  }

  .button {
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    color: white;
    border: 4px solid #4a49eb;  
    border-radius: 50px;        
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease, border-color 0.3s ease;
  }
  
  .button {
    background-color: #789DBC; 
  }
  
  .button:hover {
    opacity: 0.8; 
    border-color: #4a49eb; 
  }